html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%; }

.padding {
  padding: 0; }
  .padding__right {
    padding-right: 0; }
  .padding__left {
    padding-left: 0; }

.margin {
  margin: 0; }
  .margin__right {
    margin-right: 0; }
  .margin__left {
    margin-left: 0; }

.positions-a {
  position: absolute; }

.home {
  background-image: url("../img/fondo-min.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 100%; }
  .home__header {
    padding: 2% 0;
    width: 100%;
    height: 100%; }
    .home__header--minNav a {
      color: #fff;
      font-size: 2rem;
      text-decoration: none; }
    .home__header--minNav-line {
      color: #fff;
      font-size: 2rem;
      margin: 0 1rem 0 1rem; }
    .home__header--minNav-p {
      color: #fff;
      font-size: 2rem;
      display: inline-block;
      margin-bottom: 0;
      position: relative;
      cursor: pointer;
      z-index: 0; }
      .home__header--minNav-p p {
        display: inline-block;
        font-weight: 600;
        color: #fff;
        margin-bottom: 0; }
      .home__header--minNav-p i {
        margin: 0 1rem 0 1rem;
        display: inline-block;
        color: #fff; }
  .home__description {
    width: 100%;
    height: 100%; }
    .home__description--tittle {
      padding: 8% 0 3% 0; }
      .home__description--tittle h1 {
        color: #fff;
        font-size: 7.3rem;
        font-weight: 800; }
        .home__description--tittle h1 span {
          color: #ed322d; }
    .home__description--text {
      padding-bottom: 15.1%; }
      .home__description--text p {
        font-size: 2rem;
        font-weight: 100;
        color: #fff; }
    .home__description--arrowDown {
      padding: 2.5% 0; }
      .home__description--arrowDown-key {
        display: inline-block;
        background-color: transparent;
        border-color: transparent;
        outline: none; }
        .home__description--arrowDown-key a {
          text-decoration: none; }
        .home__description--arrowDown-key i {
          color: #fff;
          display: block;
          font-size: 4rem;
          height: 1.5rem; }
        .home__description--arrowDown-key_one {
          animation-delay: 1.5s;
          animation-iteration-count: infinite;
          animation-duration: 1.5s;
          animation-name: arrowOne; }
        .home__description--arrowDown-key_two {
          animation-delay: 1.6s;
          animation-iteration-count: infinite;
          animation-duration: 1.5s;
          animation-name: arrowTwo; }
        .home__description--arrowDown-key_three {
          animation-delay: 1.7s;
          animation-iteration-count: infinite;
          animation-duration: 1.5s;
          animation-name: arrowThree; }

@keyframes arrowOne {
  0% {
    opacity: 1; }
  100% {
    opacity: 0.2; } }

@keyframes arrowTwo {
  0% {
    opacity: 1; }
  100% {
    opacity: 0.2; } }

@keyframes arrowThree {
  0% {
    opacity: 1; }
  100% {
    opacity: 0.2; } }

#arrow-up {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  background-color: #7a225d;
  border-radius: 50%;
  visibility: visible;
  opacity: 0.7;
  z-index: 1; }
  #arrow-up i {
    color: #fff;
    font-size: 3rem; }

.hide-arrow {
  visibility: hidden !important; }

@media (min-width: 620px) and (max-width: 1023px) {
  .home__header {
    height: 100%;
    padding: 3% 0; }
    .home__header--logo img {
      width: 100%;
      height: 100%; }
    .home__header--minNav {
      height: 3rem; }
      .home__header--minNav a {
        display: none; }
      .home__header--minNav span {
        display: none; }
      .home__header--minNav-p p {
        display: none; }
      .home__header--minNav-p i {
        margin: 0 auto; }
  .home__description--tittle {
    padding: 14% 0 8% 0; }
    .home__description--tittle h1 {
      font-size: 5.5rem; }
  .home__description--text p {
    font-size: 3rem; } }

@media (max-width: 620px) {
  .home__header {
    height: 100%;
    padding: 4% 0; }
    .home__header--logo img {
      width: 100%;
      height: 100%; }
    .home__header--minNav {
      height: 3rem; }
      .home__header--minNav a {
        display: none; }
      .home__header--minNav span {
        display: none; }
      .home__header--minNav-p p {
        display: none; }
      .home__header--minNav-p i {
        margin-top: 1rem; }
  .home__description--tittle {
    padding: 8% 0; }
    .home__description--tittle h1 {
      font-size: 4.5rem; }
  .home__description--arrowDown {
    padding: 5.5% 0; } }

#arrow-up {
  bottom: 1rem;
  right: 1rem; }

.menu {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  top: 0;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background: rgba(154, 65, 124, 0.9);
  visibility: hidden; }
  .menu__home {
    background: linear-gradient(to bottom right, rgba(128, 44, 100, 0.9), rgba(154, 65, 124, 0.6));
    width: 30rem;
    padding: 1rem 3rem 1rem 3rem;
    text-align: center;
    margin-bottom: 1rem; }
    .menu__home a {
      text-decoration: none;
      font-size: 4rem;
      color: #fff;
      font-weight: 600;
      width: 100%;
      height: 100%; }
      .menu__home a:hover {
        font-size: 5.5rem; }
  .menu__graphs {
    background: linear-gradient(to bottom right, rgba(128, 44, 100, 0.9), rgba(154, 65, 124, 0.6));
    width: 30rem;
    padding: 1rem 3rem 1rem 3rem;
    text-align: center;
    margin-bottom: 1rem; }
    .menu__graphs a {
      text-decoration: none;
      font-size: 4rem;
      color: #fff;
      font-weight: 600;
      width: 100%;
      height: 100%; }
      .menu__graphs a:hover {
        font-size: 5.5rem; }
  .menu__process {
    background: linear-gradient(to bottom right, rgba(128, 44, 100, 0.9), rgba(154, 65, 124, 0.6));
    width: 30rem;
    padding: 1rem 3rem 1rem 3rem;
    text-align: center;
    margin-bottom: 1rem; }
    .menu__process a {
      text-decoration: none;
      font-size: 4rem;
      color: #fff;
      font-weight: 600;
      width: 100%;
      height: 100%; }
      .menu__process a:hover {
        font-size: 5.5rem; }
  .menu__services {
    background: linear-gradient(to bottom right, rgba(128, 44, 100, 0.9), rgba(154, 65, 124, 0.6));
    width: 30rem;
    padding: 1rem 3rem 1rem 3rem;
    text-align: center;
    margin-bottom: 1rem; }
    .menu__services a {
      text-decoration: none;
      font-size: 4rem;
      color: #fff;
      font-weight: 600;
      width: 100%;
      height: 100%; }
      .menu__services a:hover {
        font-size: 5.5rem; }
  .menu__step {
    background: linear-gradient(to bottom right, rgba(128, 44, 100, 0.9), rgba(154, 65, 124, 0.6));
    width: 30rem;
    padding: 1rem 3rem 1rem 3rem;
    text-align: center;
    margin-bottom: 1rem; }
    .menu__step a {
      text-decoration: none;
      font-size: 4rem;
      color: #fff;
      font-weight: 600;
      width: 100%;
      height: 100%; }
      .menu__step a:hover {
        font-size: 5.5rem; }
  .menu__footer {
    background: linear-gradient(to bottom right, rgba(128, 44, 100, 0.9), rgba(154, 65, 124, 0.6));
    width: 30rem;
    padding: 1rem 3rem 1rem 3rem;
    text-align: center;
    margin-bottom: 1rem; }
    .menu__footer a {
      text-decoration: none;
      font-size: 4rem;
      color: #fff;
      font-weight: 600;
      width: 100%;
      height: 100%; }
      .menu__footer a:hover {
        font-size: 5.5rem; }
  .menu__contact {
    display: none;
    background: linear-gradient(to bottom right, rgba(128, 44, 100, 0.9), rgba(154, 65, 124, 0.6));
    width: 30rem;
    padding: 1rem 3rem 1rem 3rem;
    text-align: center;
    margin-bottom: 1rem; }
    .menu__contact a {
      text-decoration: none;
      font-size: 4rem;
      color: #fff;
      font-weight: 600;
      width: 100%;
      height: 100%; }
      .menu__contact a:hover {
        font-size: 5.5rem; }
  .menu i {
    position: absolute;
    top: 0;
    color: #fff;
    top: 4rem;
    right: 21rem;
    font-size: 4rem;
    cursor: pointer; }

.menu-see {
  visibility: visible;
  z-index: 2; }

@media (min-width: 620px) and (max-width: 1023px) {
  .menu i {
    top: 4rem;
    right: 4rem; } }

@media (max-width: 620px) {
  .menu i {
    top: 2rem;
    right: 2rem; }
  .menu__home {
    width: 20rem;
    padding: .5rem 1.2rem .5rem 1.2rem; }
    .menu__home a {
      font-size: 3rem; }
      .menu__home a:hover {
        font-size: 3.7rem; }
  .menu__graphs {
    width: 20rem;
    padding: .5rem 1.2rem .5rem 1.2rem; }
    .menu__graphs a {
      font-size: 3rem; }
      .menu__graphs a:hover {
        font-size: 3.7rem; }
  .menu__process {
    width: 20rem;
    padding: .5rem 1.2rem .5rem 1.2rem; }
    .menu__process a {
      font-size: 3rem; }
      .menu__process a:hover {
        font-size: 3.7rem; }
  .menu__services {
    width: 20rem;
    padding: .5rem 1.2rem .5rem 1.2rem; }
    .menu__services a {
      font-size: 3rem; }
      .menu__services a:hover {
        font-size: 3.7rem; }
  .menu__step {
    width: 20rem;
    padding: .5rem 1.2rem .5rem 1.2rem; }
    .menu__step a {
      font-size: 3rem; }
      .menu__step a:hover {
        font-size: 3.7rem; }
  .menu__footer {
    width: 20rem;
    padding: .5rem 1.2rem .5rem 1.2rem; }
    .menu__footer a {
      font-size: 3rem; }
      .menu__footer a:hover {
        font-size: 3.7rem; }
  .menu__contact {
    display: block;
    width: 20rem;
    padding: .5rem 1.2rem .5rem 1.2rem; }
    .menu__contact a {
      font-size: 3rem; }
      .menu__contact a:hover {
        font-size: 3.7rem; } }

.quisque {
  background-color: #f8f8f8; }
  .quisque__image {
    width: 100%;
    height: 100%; }
    .quisque__image img {
      width: 100%;
      height: 100%; }
  .quisque__contein {
    padding: 7% 3.5%; }
    .quisque__contein--tittle h2 {
      font-size: 7.2rem;
      color: #404040;
      font-weight: 600;
      margin: 0; }
      .quisque__contein--tittle h2 span {
        color: #ed322d; }
    .quisque__contein--tittle hr {
      color: black;
      width: 3.5rem;
      margin: 2.5rem 0; }
    .quisque__contein--text p {
      font-size: 1.7rem;
      font-weight: 300;
      color: #5d5d5d;
      margin: 0;
      padding-bottom: 4rem; }
    .quisque__contein--text hr {
      margin: 0 0 3rem 0; }
    .quisque__contein--video-parts {
      display: inline-block;
      cursor: pointer; }
      .quisque__contein--video-parts a {
        display: inline-flex;
        text-decoration: none; }
        .quisque__contein--video-parts a p {
          font-size: 1.7rem;
          font-weight: 300;
          color: #5d5d5d; }

@media (min-width: 620px) and (max-width: 1023px) {
  .quisque__contein--tittle h2 {
    font-size: 5.5rem; }
  .quisque__contein--video-parts a p {
    font-size: 1.3rem; } }

@media (max-width: 620px) {
  .quisque__contein--tittle h2 {
    font-size: 5.2rem; }
  .quisque__contein--video-parts a {
    display: block; }
    .quisque__contein--video-parts a img {
      margin-bottom: 1.5rem; } }

.popup {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 2;
  visibility: hidden; }
  .popup:target {
    visibility: visible; }
  .popup a {
    position: absolute;
    right: 9%;
    top: 9%; }
    .popup a i {
      font-size: 4rem;
      color: #fff; }
  .popup__video {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 70%;
    height: 70%; }

@media (min-width: 620px) and (max-width: 1023px) {
  .popup a {
    right: 2%; }
  .popup__video {
    width: 90%;
    height: 50%; } }

@media (max-width: 620px) {
  .popup a {
    right: 2%; }
  .popup__video {
    width: 95%;
    height: 30%; } }

.process {
  padding: 7% 0;
  background: #fff; }
  .process__tittleText h2 {
    font-size: 7.2rem;
    font-weight: 600;
    color: #404040; }
  .process__tittleText p {
    font-size: 2.4rem;
    color: #5d5d5d;
    font-weight: 200; }
  .process__circles {
    position: relative;
    height: 45rem;
    top: 22.5rem; }
    .process__circles--red {
      width: 20rem;
      height: 20rem;
      background-color: #ef666d;
      left: 4.5rem;
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-self: center;
      opacity: 0.8;
      position: absolute; }
      .process__circles--red p {
        display: flex;
        align-self: center;
        font-size: 2.4rem;
        color: white;
        margin: 0;
        font-weight: 600; }
    .process__circles--green {
      width: 33rem;
      height: 33rem;
      background-color: #3dbbaf;
      left: 22rem;
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-self: center;
      opacity: 0.8;
      position: absolute; }
      .process__circles--green p {
        display: flex;
        align-self: center;
        font-size: 2.4rem;
        color: white;
        margin: 0;
        font-weight: 600; }
    .process__circles--skyblue {
      width: 38rem;
      height: 38rem;
      background-color: #5dd0eb;
      right: 21rem;
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-self: center;
      opacity: 0.8;
      position: absolute;
      opacity: 0.7; }
      .process__circles--skyblue p {
        display: flex;
        align-self: center;
        font-size: 2.4rem;
        color: white;
        margin: 0;
        font-weight: 600; }
    .process__circles--yellow {
      width: 19rem;
      height: 19rem;
      background-color: #f5c92e;
      right: 4.5rem;
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-self: center;
      opacity: 0.8;
      position: absolute; }
      .process__circles--yellow p {
        display: flex;
        align-self: center;
        font-size: 2.4rem;
        color: white;
        margin: 0;
        font-weight: 600; }
  .process__description h5 {
    font-size: 1.5rem;
    color: #5d5d5d;
    font-weight: 700; }
  .process__description p {
    font-size: 1.5rem;
    color: #5d5d5d;
    font-weight: 300; }

@media (min-width: 1024px) and (max-width: 1199px) {
  .process__circles--green {
    width: 24rem;
    height: 24rem; }
  .process__circles--skyblue {
    width: 28rem;
    height: 28rem; } }

@media (min-width: 620px) and (max-width: 1023px) {
  .process__tittleText h2 {
    font-size: 5.2rem; }
  .process__tittleText p {
    font-size: 1.7rem; }
  .process__circles {
    height: 30rem;
    top: 13.5rem; }
    .process__circles--red {
      width: 13rem;
      height: 13rem; }
      .process__circles--red p {
        font-size: 1.9rem; }
    .process__circles--green {
      width: 20rem;
      height: 20rem;
      left: 16rem; }
      .process__circles--green p {
        font-size: 1.9rem; }
    .process__circles--skyblue {
      width: 19rem;
      height: 19rem;
      right: 15rem; }
      .process__circles--skyblue p {
        font-size: 1.9rem; }
    .process__circles--yellow {
      width: 13rem;
      height: 13rem; }
      .process__circles--yellow p {
        font-size: 1.9rem; }
  .process__description h5 {
    font-size: 1.3rem; }
  .process__description p {
    font-size: 1.3rem; } }

@media (max-width: 620px) {
  .process__tittleText h2 {
    font-size: 5.2rem; }
  .process__tittleText p {
    font-size: 1.7rem; }
  .process__circles {
    height: 30rem;
    top: 7rem; }
    .process__circles--red {
      width: 12rem;
      height: 12rem;
      left: 2rem; }
      .process__circles--red p {
        font-size: 1.5rem; }
    .process__circles--green {
      width: 12rem;
      height: 12rem;
      left: 2rem;
      bottom: 10rem; }
      .process__circles--green p {
        font-size: 1.5rem; }
    .process__circles--skyblue {
      width: 12rem;
      height: 12rem;
      bottom: 10rem;
      right: 2rem; }
      .process__circles--skyblue p {
        font-size: 1.5rem; }
    .process__circles--yellow {
      width: 12rem;
      height: 12rem;
      top: -6rem;
      right: 2rem; }
      .process__circles--yellow p {
        font-size: 1.5rem; } }

.services {
  background-image: url("../img/blackbg-min.png");
  padding: 6.4% 0;
  background-position: center; }
  .services__description h2 {
    font-size: 7.2rem;
    color: #fff;
    font-weight: 700;
    margin-bottom: 6rem; }
    .services__description h2 span {
      color: #ed322d; }
  .services__description p {
    font-size: 2.4rem;
    color: #fff;
    font-weight: 200;
    margin-bottom: 9rem; }
  .services__table--parts {
    height: 18rem; }
    .services__table--parts i {
      color: #9a417c;
      font-size: 4rem;
      align-self: center; }
    .services__table--parts h5 {
      font-size: 2.5rem;
      color: #eaafd6; }
    .services__table--parts p {
      font-size: 1.6rem;
      color: #c39fb7; }

.full-size {
  height: 100%; }

.text-fix {
  align-self: center; }

.text-light {
  background-color: #7a225d;
  display: flex; }

.arrow-light {
  background-color: #802c64;
  display: flex;
  justify-content: center; }

.arrow-strong {
  background-color: #500c50 !important; }

.text-strong {
  background-color: #480048 !important; }

.arrow-dark {
  background-color: #3a0c3a !important; }

.text-dark {
  background-color: #300030 !important; }

@media (min-width: 620px) and (max-width: 1023px) {
  .services__description h2 {
    font-size: 5.2rem; } }

@media (max-width: 620px) {
  .services {
    padding: 16.4% 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
    .services__description h2 {
      font-size: 5.2rem;
      margin-bottom: 3rem; }
    .services__description p {
      font-size: 1.9rem;
      margin-bottom: 0; }
    .services__table {
      display: none; } }

.step {
  background-image: url("../img/Shape 30-min.png");
  background-size: 100% 100%;
  background-position: center;
  padding: 7.3% 0 0 0;
  border-bottom: 1px solid #dfdfdf; }
  .step__description {
    margin-bottom: 6rem; }
    .step__description h2 {
      font-size: 7.2rem;
      color: #404040;
      letter-spacing: .1rem;
      margin-bottom: 3rem; }
      .step__description h2 span {
        color: #ededed; }
    .step__description hr {
      width: 3.5rem;
      border-top: 2px solid #bebebe;
      margin-top: 0;
      margin-bottom: 3rem; }
    .step__description p {
      font-size: 2.4rem;
      color: #000000;
      font-weight: 200;
      letter-spacing: .1rem; }
  .step__formulario__content {
    background-color: #fff;
    padding: 11% 0; }
    .step__formulario__content--group {
      margin-bottom: 2rem; }
      .step__formulario__content--group-inp {
        width: 100%;
        font-size: 1.4rem;
        font-weight: 300;
        border: none;
        border-bottom: #ebebeb 0.1rem solid;
        color: #8e8e8e;
        padding: 2rem 0 0 0;
        transition: .3s all; }
        .step__formulario__content--group-inp:focus {
          outline: none;
          border-bottom: .2rem solid #9D9D9E;
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
          .step__formulario__content--group-inp:focus:invalid {
            border-bottom: .2rem solid red; }
      .step__formulario__content--group-label {
        display: block;
        margin-bottom: 0;
        text-align: left;
        opacity: 1;
        transition: .5s all;
        color: #8e8e8e; }
      .step__formulario__content--group-textarea {
        width: 100%;
        font-size: 1.4rem;
        font-weight: 300;
        border: none;
        border-bottom: #ebebeb 0.1rem solid;
        color: #8e8e8e;
        resize: none;
        margin-top: 2rem;
        height: 3rem;
        transition: .3s all; }
        .step__formulario__content--group-textarea:focus {
          outline: none;
          border-bottom: .2rem solid #9D9D9E;
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
          .step__formulario__content--group-textarea:focus:invalid {
            border-bottom: .2rem solid red; }
    .step__formulario__content--btn-style {
      font-size: 1.7rem;
      color: #878787;
      padding: 2.5rem 8rem;
      background-color: #fff;
      border: 2px solid #878787;
      cursor: pointer;
      transition: all .2s; }
      .step__formulario__content--btn-style:hover {
        color: #fff;
        background-color: #878787; }

.step__formulario__content--group-inp:placeholder-shown + .step__formulario__content--group-label {
  opacity: 0;
  visibility: hidden; }

.step__formulario__content--group-textarea:placeholder-shown + .step__formulario__content--group-label {
  opacity: 0;
  visibility: hidden; }

@media (min-width: 620px) and (max-width: 1023px) {
  .step {
    background-size: 245% 100%; }
    .step__description h2 {
      font-size: 5.2rem; }
    .step__description hr {
      display: none; } }

@media (max-width: 620px) {
  .step {
    background-size: 710% 140%; }
    .step__description {
      margin-bottom: 3rem; }
      .step__description h2 {
        font-size: 5.2rem;
        margin-bottom: 1.5rem; }
        .step__description h2 span {
          color: #B4B4B8; }
      .step__description hr {
        margin-bottom: 1.5rem; }
      .step__description p {
        font-size: 1.9rem; }
    .step__formulario__content--group-inp {
      padding-left: 1rem; }
    .step__formulario__content--group-textarea {
      padding-left: 1rem; }
    .step__formulario__content--group-label {
      padding-left: 1rem; }
    .step__formulario__content--btn-style {
      padding: 2rem 5rem; } }

.footer {
  background-color: #fff;
  padding: 3.8% 0; }
  .footer__contein-social {
    margin: 0 0 5rem 0;
    padding: 0;
    list-style: none; }
    .footer__contein-social li {
      display: inline-block;
      margin: 0 1.5rem 0 1.5rem;
      border: 0.1rem solid #8a8a8a; }
      .footer__contein-social li a {
        text-decoration: none; }
        .footer__contein-social li a i {
          font-size: 3rem;
          color: #8a8a8a;
          padding: 1.5rem; }
    .footer__contein-social-twittfix:hover {
      background: rgba(45, 170, 226, 0.5); }
    .footer__contein-social-facefix i {
      padding: 1.5rem 2rem !important; }
    .footer__contein-social-facefix:hover {
      background: rgba(72, 103, 170, 0.5); }
    .footer__contein-social-googlefix:hover {
      background: rgba(245, 81, 30, 0.5); }
  .footer__contein-credits p {
    font-size: 1.5rem;
    color: #969696;
    margin-bottom: 2rem; }
    .footer__contein-credits p span {
      font-weight: 600; }
      .footer__contein-credits p span a {
        text-decoration: none;
        color: #969696; }
    .footer__contein-credits p:last-child {
      margin-top: 3.5rem;
      margin-bottom: 0; }

@media (min-width: 620px) and (max-width: 1023px) {
  .footer {
    padding: 6.8% 0; } }

@media (max-width: 620px) {
  .footer {
    padding: 10.8% 0; } }
